body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.btn {
    display: block;
    margin: 10px auto;
    background: #2ecc71;
    border: none;
    color: white;
    font-size: 17px;
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
}


#contenedorForm {
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
}

.btnGuardar {
    width: 100%;
    margin-top: 15px;
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}



.moneda {
    max-width: 350px;
    margin: 10px auto;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


